extends layout.pug

block content
	.container-fluid
		button.btn.btn-primary(onclick='collapsePercent()', role='button') %
		.table-responsive
			table.table.table-hover
				thead.thead-light
					tr
						th(scope='col') #
						th(scope='col') 
							a(href='?sortBy=name&order=' + (sortBy === 'name' ? order || 'asc' : 'asc') class='link' + (sortBy === 'name' ? '-active' : '-primary') + ' ' + (sortBy === 'name' ? order || 'asc' : 'asc')) Name&nbsp;&nbsp;
						th(scope='col' colspan='4') Price 
						
						th(scope='col' colspan="4") Social&nbsp;&nbsp;
						th(scope='col' colspan='5') Development 
						th(scope='col' colspan='3') Network 
					tr
						th(scope='col' colspan="2")

						mixin thead(currentSortBy, name)
							th(scope='col') 
								- let href = '?sortBy=' + currentSortBy  + '&order=' + (sortBy === currentSortBy ? order || 'desc' : 'desc' );
								- let classLink = 'link' + (sortBy === currentSortBy ? '-active' : '-primary') + ' ' + (sortBy === currentSortBy ? order || 'asc' : 'asc');
									a(
										href=href
										class=classLink
									)= name
								
						//- PRICE INDEX							
						+thead('price_index', 'Index')
						+thead('price', 'Price')
						+thead('market_volume', 'Market Cap')
						+thead('volume', '24h Volume')

						//- SOCIAL INDEX
						+thead('social', 'Index')
						+thead('twitter_followers', 'Followers Twitter')
						+thead('twitter_statuses', 'Tweets and Replies')
						+thead('reddit_followers', 'Subreddit followers')

						//- DEVELOPMANT INDEX
						th(scope='col') Index
						th(scope='col') Reps
						th(scope='col') Commits
						th(scope='col') Contributers
						th(scope='col') Followers

						//- NETWORK INDEX
						th(scope='col') Index
						th(scope='col') Transactions
						th(scope='col') Nodes




				tbody
				each coin, index in coins
					tr
						th(scope='row')= index + 1
						- var url = coin.id
						td
							a( href='/' + url )= coin.name 

						mixin tcell(value, delta, format)
							td= numeral(value).format(format)
								div(class='' + (delta < 0 ? 'param-down' : 'param-up'))= numeral(delta).format('+0.00%')

						//- PRICE INDEX 
						+tcell(coin.market.coinMarketCap.index, coin.market.coinMarketCap.indexDelta, '0,0[.]00')
						+tcell(coin.market.coinMarketCap.priceUSD, coin.market.coinMarketCap.priceUSDDelta, '$0,0[.]00a')
						+tcell(coin.market.coinMarketCap.marketVolumeUSD, coin.market.coinMarketCap.marketVolumeUSDDelta, '$0,0[.]00a')
						+tcell(coin.market.coinMarketCap.VolumeUSD, coin.market.coinMarketCap.VolumeUSDDelta, '$0,0[.]00a')
						
						//- SOCIAL INDEX
						+tcell(coin.social.index, coin.social.indexDelta, '0,0.00')
						+tcell(coin.social.twitter.followersCount, coin.social.twitter.followersCountDelta, '0,0')
						+tcell(coin.social.twitter.statusesCount, coin.social.twitter.statusesCountDelta, '0,0')
						+tcell(coin.social.reddit.followersCount, coin.social.reddit.followersCountDelta, '0,0')

						//- DEVELOPMANT INDEX
						td index
						+tcell(coin.development.gitHub.reposCount, coin.development.gitHub.reposCount, '0,0')
						td Commits
						td Contributers
						td Followers

						//- NETWORK INDEX
						td index
						td transactions
						td nodes



					//- td= coin.network
		.donate
			p Donate ETH: 0x8A224209BfA524BBCFfC697C92CBBcE0BC0930DD
				br
				| Donate BTC: 1PrLgy19yi8zPGJd5SY6q8Cv76paJ6xaQ1
		