extends layout.pug

block content
	.container
		h1 Coin Social Story for #{name}
		p Here you can find statictics about #{name} community
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Price Index
					.card-body.text-primary
						h5.card-title #{market.coinMarketCap.index}
								br
								span(class='' + (market.coinMarketCap.indexDelta < 0 ? 'param-down' : 'param-up'))= numeral(market.coinMarketCap.indexDelta).format('+0,0.00 %')
						p.card-text
							| Price index indicates market activity of coin.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='3') Market Activity
						tr  
							th(scope='col') Price
							th(scope='col') Market Cap
							th(scope='col') 24h Volume
					tbody
						tr  
							td #{numeral(market.coinMarketCap.priceUSD).format('$0,0[.]00a')}
								br
								span(class='' + (market.coinMarketCap.priceUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(market.coinMarketCap.priceUSDDelta).format('+0,0.00 %')
							td #{numeral(market.coinMarketCap.marketVolumeUSD).format('$0,0[.]00a')}
								br
								span(class='' + (market.coinMarketCap.marketVolumeUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(market.coinMarketCap.marketVolumeUSDDelta).format('+0,0.00 %')
							td #{numeral(market.coinMarketCap.VolumeUSD).format('$0,0[.]00a')}
								br
								span(class='' + (market.coinMarketCap.VolumeUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(market.coinMarketCap.VolumeUSDDelta).format('+0,0.00 %')

		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Social Index
					.card-body.text-primary
						h5.card-title #{social.index}
								br
								span(class='' + (social.indexDelta < 0 ? 'param-down' : 'param-up'))= numeral(social.indexDelta).format('+0,0.00 %')
						p.card-text
							| Social index indicates social activity of coin's community.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='3') Social Activity
						tr  
							th(scope='col') Followers Twitter
							th(scope='col') Tweets and Replies
							th(scope='col') Followers Reddit
					tbody
						tr  
							td #{numeral(social.twitter.followersCount).format('0,0')}
								br
								span(class='' + (social.twitter.followersCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(social.twitter.followersCountDelta).format('+0,0.00 %')
							td #{numeral(social.twitter.statusesCount).format('0,0')}
								br
								span(class='' + (social.twitter.statusesCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(social.twitter.statusesCountDelta).format('+0,0.00 %')
							td #{numeral(social.reddit.followersCount).format('0,0')}
								br
								span(class='' + (social.reddit.followersCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(social.reddit.followersCountDelta).format('+0,0.00 %')
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Development Index
					.card-body.text-primary
						h5.card-title #{development.gitHub.index}
								br
								span(class='' + (development.gitHub.indexDelta < 0 ? 'param-down' : 'param-up'))= numeral(development.gitHub.indexDelta).format('+0,0.00 %')
						p.card-text
							| Development index indicates development activity of coin's community.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='4') Development Activity
						tr  
							th(scope='col') Repositories
							th(scope='col') Watchers
							th(scope='col') Forks
							th(scope='col') Size
					tbody
						tr  
							td #{numeral(development.gitHub.reposCount).format('0,0')}
								br
								span(class='' + (development.gitHub.reposCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(development.gitHub.reposCountDelta).format('+0,0.00 %')
							td #{numeral(development.gitHub.watchersCount).format('0,0')}
								br
								span(class='' + (development.gitHub.watchersCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(development.gitHub.watchersCountDelta).format('+0,0.00 %')
							td #{numeral(development.gitHub.forksCount).format('0,0')}
								br
								span(class='' + (development.gitHub.forksCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(development.gitHub.forksCountDelta).format('+0,0.00 %')
							td #{numeral(development.gitHub.size).format('0,0')}
								br
								span(class='' + (development.gitHub.sizeDelta < 0 ? 'param-down' : 'param-up'))= numeral(development.gitHub.sizeDelta).format('+0,0.00 %')
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Network Index
					.card-body.text-primary
						h5.card-title #{network}
						p.card-text
							| Network index indicates activity of coin's network.

		.row
			.col-12
				#accordion
					.card
						#headingHistory.card-header
							h5.mb-0
								button.btn.btn-link(data-toggle='collapse', data-target='#collapseHistory', aria-expanded='true', aria-controls='collapseHistory')
									| History of the 
									b #{name}
						#collapseHistory.collapse.show(aria-labelledby='headingHistory', data-parent='#accordion')
							.card-body
								| Text about #{name} not ready yet. You can help us with it: drop an email to 
								a(href="mailto:coinsocialstory@gmail.com") coinsocialstory@gmail.com
								|  ✨
		br
		if links
			h6 Links for 
				b #{name} 
				| coin
			ul.list-group
				each link in links
					li.list-group-item 
						-var url = link.link
						a(href="" + url) #{link.name}
				