extends layout.pug

block content
	.container
		h1 Coin Social Story for #{title}
		p Here you can find statictics about #{title} community
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Price Index
					.card-body.text-primary
						h5.card-title= numeral(currentStatistic.priceIndex).format('0,0[.]00')
								br
								span(class='' + (currentStatistic.priceIndexDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.priceIndexDelta).format('+0,0.00 %')
						p.card-text
							| Price index indicates market activity of coin.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='3') Market Activity
						tr  
							th(scope='col') Price
							th(scope='col') Market Cap
							th(scope='col') 24h Volume
					tbody
						tr  
							td #{numeral(currentStatistic.priceUSD).format('$0,0[.]00a')}
								br
								span(class='' + (currentStatistic.priceUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.priceUSDDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.marketCapUSD).format('$0,0[.]00a')}
								br
								span(class='' + (currentStatistic.marketCapUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.marketCapUSDDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.volume24hUSD).format('$0,0[.]00a')}
								br
								span(class='' + (currentStatistic.volume24hUSDDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.volume24hUSDDelta).format('+0,0.00 %')

		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Social Index
					.card-body.text-primary
						h5.card-title= numeral(currentStatistic.socialIndex).format('0,0[.]00')
								br
								span(class='' + (currentStatistic.socialIndexDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.socialIndexDelta).format('+0,0.00 %')
						p.card-text
							| Social index indicates social activity of coin's community.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='3') Social Activity
						tr  
							th(scope='col') Followers Twitter
							th(scope='col') Tweets and Replies
							th(scope='col') Followers Reddit
					tbody
						tr  
							td #{numeral(currentStatistic.twitterFollowers).format('0,0')}
								br
								span(class='' + (currentStatistic.twitterFollowersDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.twitterFollowersDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.tweetsNReplies).format('0,0')}
								br
								span(class='' + (currentStatistic.tweetsNRepliesDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.tweetsNRepliesDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.redditFollowers).format('0,0')}
								br
								span(class='' + (currentStatistic.redditFollowersDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.redditFollowersDelta).format('+0,0.00 %')
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Development Index
					.card-body.text-primary
						h5.card-title= numeral(currentStatistic.developmentIndex).format('0,0[.]00')
								br
								span(class='' + (currentStatistic.developmentIndexDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.developmentIndexDelta).format('+0,0.00 %')
						p.card-text
							| Development index indicates development activity of coin's community.
			.col-8
				table.table.table-striped.table-hover
					thead.thead-light
						tr
							th(scope='col' colspan='4') Development Activity
						tr  
							th(scope='col') Repositories
							th(scope='col') Watchers
							th(scope='col') Forks
							th(scope='col') Size
					tbody
						tr  
							td #{numeral(currentStatistic.githubRepositoriesCount).format('0,0')}
								br
								span(class='' + (currentStatistic.githubRepositoriesCountDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.githubRepositoriesCountDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.githubRepositoriesWatchers).format('0,0')}
								br
								span(class='' + (currentStatistic.githubRepositoriesWatchersDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.githubRepositoriesWatchersDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.githubForks).format('0,0')}
								br
								span(class='' + (currentStatistic.githubForksDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.githubForksDelta).format('+0,0.00 %')
							td #{numeral(currentStatistic.githubRepositoriesSize).format('0,0')}
								br
								span(class='' + (currentStatistic.githubRepositoriesSizeDelta < 0 ? 'param-down' : 'param-up'))= numeral(currentStatistic.githubRepositoriesSizeDelta).format('+0,0.00 %')
		.row
			.col-4
				.card.border-primary.mb-3(style='max-width: 18rem;')
					.card-header Network Index
					.card-body.text-primary
						h5.card-title #{network}
						p.card-text
							| Network index indicates activity of coin's network.

		.row
			.col-12
				#accordion
					.card
						#headingHistory.card-header
							h5.mb-0
								button.btn.btn-link(data-toggle='collapse', data-target='#collapseHistory', aria-expanded='true', aria-controls='collapseHistory')
									| History of the 
									b #{title}
						#collapseHistory.collapse.show(aria-labelledby='headingHistory', data-parent='#accordion')
							.card-body
								| Text about #{title} not ready yet. You can help us with it: drop an email to
								a(href="mailto:coinsocialstory@gmail.com") coinsocialstory@gmail.com
								|  ✨
		br
		if links
			h6 Links for 
				b #{title}
				| coin
			ul.list-group
				each link in links
					li.list-group-item 
						-var url = link.link
						a(target="_blank" href="" + url) #{link.name}
				