extends layout.pug

block content
	.container
		p Data updates every 10 minutes.
		table.table.table-striped.table-hover
			thead.thead-dark
				tr
					th(scope='col') Name
					th(scope='col') Market Cap
					th(scope='col' colspan="3") Social Activity
					th(scope='col') Development Activity
					th(scope='col') Network Activity
				tr
					th(scope='col' colspan="2") 
					th(scope='col') Followers Twitter
					th(scope='col') Tweets and Replies
					th(scope='col') Followers Reddit
					th(scope='col' colspan="2") 
			tbody
				tr
					td #{name} 
					td #{market.coinMarketCap.marketVolumeUSD}
					td #{social.twitter.followersCount}
					td #{social.twitter.statusesCount}
					td #{social.reddit.followersCount}
					td #{development}
					td #{network}
		if links
			h6 Links for 
				b #{name} 
				| coin
			ul.list-group
				each link in links
					li.list-group-item 
						-var url = link.link
						a(href="" + url) #{link.name}
				